<%= form_for(@football_defense_stat) do |f| %>

    <%= f.label :date_played, "Date:" %>
    <%=f.date_select :date_played_on, :start_year => Time.now.year, :end_year => Time.now.year - 20, :order => [:month, :day, :year]  %>

    <%= f.label :opponent_played, "Opponent played:" %>
    <%= f.text_field :opponent %>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :solotackles, "Solo tackles:" %>
    <%= f.text_field :solo_tackles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 34px;">
      <%= f.label :assistedtackles, "Assisted tackles:" %>
    <%= f.text_field :assisted_tackles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 40px;">
      <%= f.label :sacks_made, "Sacks:" %>
    <%= f.text_field :sacks, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :stuffs_made, "Stuffs:" %>
    <%= f.text_field :stuffs, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :stuffyards, "Stuff yards:" %>
    <%= f.text_field :stuff_yards, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :forcedfumbles, "Forced fumbles:" %>
    <%= f.text_field :forced_fumbles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 27px;">
      <%= f.label :fumblesrecovered, "Fumbles recovered:" %>
    <%= f.text_field :fumbles_recovered, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 20px;">
      <%= f.label :fumblesreturned, "Returned for touchdown:" %>
    <%= f.text_field :fumbles_returned_for_touchdown, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :ints, "Interceptions:" %>
    <%= f.text_field :interceptions, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 35px;">
      <%= f.label :intreturnyards, "Returned yards:" %>
    <%= f.text_field :intercepted_returned_yards, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 43px;">
      <%= f.label :intsreturnedfortd, "Returned for touchdown:" %>
    <%= f.text_field :interceptions_returned_for_touchdown, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 20px;">
      <%= f.label :longestintreturn, "Longest return:" %>
    <%= f.text_field :longest_interception_return, :class => "number_field_only" %>
    </fieldset>


    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :passesdefended, "Passes defended:" %>
      <%= f.text_field :passes_defended, :class => "number_field_only" %>
    </fieldset>


    <fieldset style="float: left; padding-left: 21px;">
      <%= f.label :sfts, "Safeties:" %>
    <%= f.text_field :safeties, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 47px;">
      <%= f.label :kicksblocked, "Blocked kicks:" %>
      <%= f.text_field :kicks_blocked, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>


    <%= f.submit "Add Stat", class: "btn" %>

<% end %>