<%= form_for(football_defense_stat) do |f| %>

    <%= f.label :date_played, "Date:" %>
    <%=f.date_select :date_played_on, :start_year => Time.now.year, :end_year => Time.now.year - 20, :order => [:day, :month, :year]  %>

    <%= f.label :opponent_played, "Opponent played:" %>
    <%= f.text_field :opponent %>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :solotackles, "Solo tackles:" %>
      <%= f.number_field :solo_tackles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :assistedtackles, "Assisted tackles:" %>
      <%= f.number_field :assisted_tackles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :sacks_made, "Sacks:" %>
      <%= f.number_field :sacks, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :stuffs_made, "Stuffs:" %>
      <%= f.number_field :stuffs, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :stuffyards, "Stuff yards:" %>
      <%= f.number_field :stuff_yards, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :forcedfumbles, "Forced fumbles:" %>
      <%= f.number_field :forced_fumbles, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 22px;">
      <%= f.label :fumblesrecovered, "Fumbles recovered:" %>
      <%= f.number_field :fumbles_recovered, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 25px;">
      <%= f.label :fumblesreturned, "Fumbles returned for touchdown:" %>
      <%= f.number_field :fumbles_returned_for_touchdown, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :ints, "Interceptions:" %>
      <%= f.number_field :interceptions, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 32px;">
      <%= f.label :intreturnyards, "Intercepted returned yards:" %>
      <%= f.number_field :intercepted_returned_yards, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 24px;">
      <%= f.label :intsreturnedfortd, "Interceptions returned for touchdown:" %>
      <%= f.number_field :interceptions_returned_for_touchdown, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 20px;">
      <%= f.label :longestintreturn, "Longest interception return:" %>
      <%= f.number_field :longest_interception_return, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 20px;">
      <%= f.label :passesdefended, "Passes defended:" %>
      <%= f.number_field :passes_defended, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <fieldset style="float: left;">
      <%= f.label :sfts, "Safeties:" %>
      <%= f.number_field :safeties, :class => "number_field_only" %>
    </fieldset>

    <fieldset style="float: left; padding-left: 29px;">
      <%= f.label :kicksblocked, "Blocked kicks:" %>
      <%= f.number_field :kicks_blocked, :class => "number_field_only" %>
    </fieldset>

    <div style="clear: both;"></div>

    <%= f.submit "Edit Stat", class: "btn" %>

<% end %>