
<!-- If no stats have been added -->
<% if receiver_stats.blank? %>
    <b> No stats have been added yet.</b>


    <!-- If stats have been added, create a table and display them -->
<% else %>
    <table class="table table-condensed" style="font-size: 10px;">

      <tr>
        <th colspan="2" class="border-right"></th>
        <th colspan="6" class="border-right">Receiving</th>
        <th colspan="5" class="border-right">Rushing</th>
        <th colspan="2" class="border-right">Fumbles</th>
        <th></th>
      </tr>


      <tr>
        <td><b>Date played</b></td>
        <td class="border-right"><b>Opponent</b></td>
        <td title="Receptions"><b>Rec</b></td>
        <td title="Reception targets"><b>Tgts</b></td>
        <td title="Receiving yards"><b>Yds</b></td>
        <td title="Receiving yards per reception"><b>Avg</b></td>
        <td title="Longest reception"><b>Lng</b></td>
        <td title="Receiving touchdowns" class="border-right"><b>TD</b></td>
        <td title="Rushing attempts"><b>Att</b></td>
        <td title="Rushing yards"><b>Yds</b></td>
        <td title="Average yards per carry"><b>Avg</b></td>
        <td title="Longest run"><b>Lng</b></td>
        <td title="Rushing touchdowns" class="border-right"><b>TD</b></td>
        <td title="Fumbles"><b>Fum</b></td>
        <td title="Fumbles lost" class="border-right"><b>Lst</b></td>
        <td></td>
      </tr>

      <!-- Loop through each of the stats objects and displays its attributes -->
      <% receiver_stats.each do |stat| %>
          <tr>

            <td><%= stat.date_played_on %></td>
            <td class="border-right"><%= stat.opponent %></td>
            <td><%= stat.receptions %></td>
            <td><%= stat.reception_targets %></td>
            <td><%= stat.receiving_yards %></td>
            <td><%= number_with_precision(stat.receiving_average, :precision => 1) %></td>
            <td><%= stat.longest_reception %></td>
            <td class="border-right"><%= stat.receiving_touchdowns %></td>
            <td><%= stat.rushing_attempts %></td>
            <td><%= stat.rushing_yards %></td>
            <td><%= number_with_precision(stat.rushing_average, :precision => 1) %></td>
            <td><%= stat.longest_run %></td>
            <td class="border-right"><%= stat.rushing_touchdowns %></td>
            <td><%= stat.fumbles %></td>
            <td class="border-right"><%= stat.fumbles_lost %></td>
            <td><%= link_to image_tag("pencil.png", :size => "15x15", :alt => "edit"), edit_football_receiver_stat_path(stat), :remote => true %>  <%= link_to image_tag("delete.png", :size => "15x15", :alt => "Delete"), stat, :method => 'delete', data: { confirm: "Are you sure you want to delete this stat?" } %></td>
          </tr>



      <% end %>


      <% #Variables for all of the totals for each stat

         total_receptions = receiver_stats.collect(&:receptions).sum
         total_reception_targets = receiver_stats.collect(&:reception_targets).sum
         total_receiving_yards = receiver_stats.collect(&:receiving_yards).sum
         average_yards_per_reception = (total_receiving_yards.to_f/(total_receptions.nonzero? || 1))
         longest_reception = receiver_stats.collect(&:longest_reception).max
         total_receiving_touchdowns = receiver_stats.collect(&:receiving_touchdowns).sum
         total_rushing_attempts = receiver_stats.collect(&:rushing_attempts).sum
         total_rushing_yards = receiver_stats.collect(&:rushing_yards).sum
         average_yards_per_rush = total_rushing_yards.to_f/(total_rushing_attempts.nonzero? || 1)
         longest_run = receiver_stats.collect(&:longest_run).max
         total_rushing_touchdowns = receiver_stats.collect(&:rushing_touchdowns).sum
         total_fumbles = receiver_stats.collect(&:fumbles).sum
         total_fumbles_lost = receiver_stats.collect(&:fumbles_lost).sum

      %>


      <!-- This is the row for all the totals -->
      <tr>
        <td colspan="2" class="border-right"> <b>Totals</b></td>
        <td><b><%= total_receptions %></b></td>
        <td><b><%= total_reception_targets %></b></td>
        <td><b><%= total_receiving_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_reception,:precision => 1 %></b></td>
        <td><b><%= longest_reception %></b></td>
        <td class="border-right"><b><%= total_receiving_touchdowns %></b></td>
        <td><b><%= total_rushing_attempts %></b></td>
        <td><b><%= total_rushing_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_rush,:precision => 1 %></b></td>
        <td><b><%= longest_run %></b></td>
        <td class="border-right"><b><%= total_rushing_touchdowns %></b></td>
        <td><b><%= total_fumbles %></b></td>
        <td class="border-right"><b><%= total_fumbles_lost %></b></td>
        <td></td>
      </tr>

    </table>

<% end %>