
<!-- If no stats have been added -->
<% if football_qb_stats.blank? %>
    <b> No stats have been added yet.</b>


    <!-- If stats have been added, create a table and display them -->
<% else %>
    <table class="table table-condensed" style="font-size: 10px;">

      <tr>
        <th colspan="2" class="border-right"></th>
        <th colspan="8" class="border-right">Passing</th>
        <th colspan="5" class="border-right">Rushing</th>
        <th></th>
      </tr>


      <tr>
        <td><b>Date played</b></td>
        <td class="border-right"><b>Opponent</b></td>
        <td title="Passes completed"><b>Comp</b></td>
        <td title="Passes attempted"><b>Att</b></td>
        <td title="Completion percentage"><b>Pct</b></td>
        <td title="Passing yards"><b>Yds</b></td>
        <td title="Yards per attempt"><b>Yds/Att</b></td>
        <td title="Passing touchdowns"><b>TD</b></td>
        <td title="Interceptions"><b>Int</b></td>
        <td title="Passer rating" class="border-right"><b>Rating</b></td>
        <td title="Rushing attempts"><b>Att</b></td>
        <td title="Rushing yards"><b>Yds</b></td>
        <td title="Average yards per carry"><b>Avg</b></td>
        <td title="Rushing touchdowns"><b>TD</b></td>
        <td title="Fumbles" class="border-right"><b>Fum</b></td>
        <td></td>
      </tr>

      <!-- Loop through each of the stats objects and displays its attributes -->
      <% football_qb_stats.each do |stat| %>
          <tr>

            <td><%= stat.date_played_on %></td>
            <td class="border-right"><%= stat.opponent %></td>
            <td><%= stat.completions %></td>
            <td><%= stat.passing_attempts %></td>
            <td><%= number_with_precision(stat.completion_percentage*100, :precision => 1) %>%</td>
            <td><%= stat.passing_yards %></td>
            <td><%= number_with_precision(stat.yards_per_attempt, :precision => 1) %></td>
            <td><%= stat.passing_touchdowns %></td>
            <td><%= stat.interceptions %></td>
            <td class="border-right"><%= number_with_precision(stat.quarterback_rating, :precision => 1) %></td>
            <td><%= stat.rushing_attempts %></td>
            <td><%= stat.rushing_yards %></td>
            <td><%= number_with_precision(stat.yards_per_rush, :precision => 1) %></td>
            <td><%= stat.rushing_touchdowns %></td>
            <td class="border-right"><%= stat.fumbles %></td>
            <td><%= link_to image_tag("pencil.png",  :size => "15x15", :alt => "Edit"), edit_football_quarterback_stat_path(stat), :remote => true %>  <%= link_to image_tag("delete.png",:size => "15x15", :alt => "Delete"), stat, :method => 'delete', data: { confirm: "Are you sure you want to delete this stat?" } %></td>
          </tr>



      <% end %>


      <% #Variables for all of the totals for each stat

         total_completions = football_qb_stats.collect(&:completions).sum
         total_passing_attempts = football_qb_stats.collect(&:passing_attempts).sum
         average_completion_percentage = (total_completions.to_f/(total_passing_attempts.to_i.nonzero? || 1))*100
         total_passing_yards = football_qb_stats.collect(&:passing_yards).sum
         average_yards_per_attempt = total_passing_yards.to_f/(total_passing_attempts.nonzero? || 1)
         total_passing_touchdowns = football_qb_stats.collect(&:passing_touchdowns).sum
         total_interceptions = football_qb_stats.collect(&:interceptions).sum
         average_quarterback_rating = calculate_quarterback_rating(total_completions,total_passing_attempts,total_passing_yards,total_passing_touchdowns, total_interceptions)
         total_rushing_attempts = football_qb_stats.collect(&:rushing_attempts).sum
         total_rushing_yards = football_qb_stats.collect(&:rushing_yards).sum
         average_yards_per_rush = total_rushing_yards.to_f/(total_rushing_attempts.nonzero? || 1)
         total_rushing_touchdowns = football_qb_stats.collect(&:rushing_touchdowns).sum
         total_fumbles = football_qb_stats.collect(&:fumbles).sum

      %>


      <!-- This is the row for all the totals -->
      <tr>
        <td colspan="2" class="border-right"> <b>Totals</b></td>
        <td><b><%= total_completions %></b></td>
        <td><b><%= total_passing_attempts %></b></td>
        <td><b><%= number_with_precision average_completion_percentage,:precision => 1 %>%</b></td>
        <td><b><%= total_passing_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_attempt,:precision => 1 %></b></td>
        <td><b><%= total_passing_touchdowns %></b></td>
        <td><b><%= total_interceptions %></b></td>
        <td class="border-right"><b><%= number_with_precision average_quarterback_rating,:precision => 1 %></b></td>
        <td><b><%= total_rushing_attempts %></b></td>
        <td><b><%= total_rushing_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_rush,:precision => 1 %></b></td>
        <td><b><%= total_rushing_touchdowns %></b></td>
        <td class="border-right"><b><%= total_fumbles %></b></td>
        <td></td>
      </tr>

    </table>

<% end %>