
<!-- If no stats have been added -->
<% if football_qb_stats.blank? %>
    <b> No stats have been added yet.</b>


    <!-- If stats have been added, create a table and display them -->
<% else %>
    <table class="table table-condensed" style="font-size: 10px;">

      <tr>
        <td colspan="2" class="border-right"></td>
        <td colspan="8" class="border-right">Passing</td>
        <td colspan="5" class="border-right">Rushing</td>
      </tr>


      <tr>
        <th>Date played</th>
        <th class="border-right">Opponent</th>
        <th title="Passes completed">Comp</th>
        <th title="Passes attempted">Att</th>
        <th title="Completion percentage">Pct</th>
        <th title="Passing yards">Yds</th>
        <th title="Yards per attempt">Yds/Att</th>
        <th title="Passing touchdowns">TD</th>
        <th title="Interceptions">Int</th>
        <th title="Passer rating" class="border-right">Rating</th>
        <th title="Rushing attempts">Att</th>
        <th title="Rushing yards">Yds</th>
        <th title="Average yards per carry">Avg</th>
        <th title="Rushing touchdowns">TD</th>
        <th title="Fumbles">Fum</th>
      </tr>

      <!-- Loop through each of the stats objects and displays its attributes -->
      <% football_qb_stats.each do |stat| %>
          <tr>

            <td><%= link_to "delete", stat, method: :delete, data: { confirm: "You sure?" } %><%= stat.date_played_on %></td>
            <td class="border-right"><%= stat.opponent %></td>
            <td><%= stat.completions %></td>
            <td><%= stat.passing_attempts %></td>
            <td><%= number_with_precision(stat.completion_percentage*100, :precision => 1) %>%</td>
            <td><%= stat.passing_yards %></td>
            <td><%= number_with_precision(stat.yards_per_attempt, :precision => 1) %></td>
            <td><%= stat.passing_touchdowns %></td>
            <td><%= stat.interceptions %></td>
            <td class="border-right"><%= number_with_precision(stat.quarterback_rating, :precision => 1) %></td>
            <td><%= stat.rushing_attempts %></td>
            <td><%= stat.rushing_yards %></td>
            <td><%= number_with_precision(stat.yards_per_rush, :precision => 1) %></td>
            <td><%= stat.rushing_touchdowns %></td>
            <td><%= stat.fumbles %></td>
          </tr>



      <% end %>


      <% #Variables for all of the totals for each stat

         total_completions = football_qb_stats.collect(&:completions).sum
         total_passing_attempts = football_qb_stats.collect(&:passing_attempts).sum
         average_completion_percentage = (total_completions.to_f/(total_passing_attempts.nonzero? || 1))*100
         total_passing_yards = football_qb_stats.collect(&:passing_yards).sum
         average_yards_per_attempt = total_passing_yards.to_f/(total_passing_attempts.nonzero? || 1)
         total_passing_touchdowns = football_qb_stats.collect(&:passing_touchdowns).sum
         total_interceptions = football_qb_stats.collect(&:interceptions).sum
         average_quarterback_rating = calculate_quarterback_rating(total_completions,total_passing_attempts,total_passing_yards,total_passing_touchdowns, total_interceptions)
         total_rushing_attempts = football_qb_stats.collect(&:rushing_attempts).sum
         total_rushing_yards = football_qb_stats.collect(&:rushing_yards).sum
         average_yards_per_rush = total_rushing_yards.to_f/(total_rushing_attempts.nonzero? || 1)
         total_rushing_touchdowns = football_qb_stats.collect(&:rushing_touchdowns).sum
         total_fumbles = football_qb_stats.collect(&:fumbles).sum

      %>


      <!-- This is the row for all the totals -->
      <tr>
        <td colspan="2" class="border-right"> <b>Totals</b></td>
        <td><b><%= total_completions %></b></td>
        <td><b><%= total_passing_attempts %></b></td>
        <td><b><%= number_with_precision average_completion_percentage,:precision => 1 %>%</b></td>
        <td><b><%= total_passing_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_attempt,:precision => 1 %></b></td>
        <td><b><%= total_passing_touchdowns %></b></td>
        <td><b><%= total_interceptions %></b></td>
        <td class="border-right"><b><%= number_with_precision average_quarterback_rating,:precision => 1 %></b></td>
        <td><b><%= total_rushing_attempts %></b></td>
        <td><b><%= total_rushing_yards %></b></td>
        <td><b><%= number_with_precision average_yards_per_rush,:precision => 1 %></b></td>
        <td><b><%= total_rushing_touchdowns %></b></td>
        <td><b><%= total_fumbles %></b></td>
      </tr>

    </table>

<% end %>