<% provide(:title, @user.name) %>

<div class="row" xmlns="http://www.w3.org/1999/html">
<aside >
  <section class="span2 user-panel">
    <h1>
      <!-- Use this tag for paperclip image_tag @user.profile_picture.url(:small)  -->
      <%=  gravatar_for(@user) %>
    </h1>

    <h4 style="text-align: center;">
      <%= @user.name %>
    </h4>
    <p><!--Age: <%= calculate_age(@user.birthday) %></p>  -->
  </section>
</aside>



<div class="span10">

<ul class="nav nav-tabs" data-tabs="tabs">
  <% @sports_already_chosen.each_with_index do |sport_chosen, index| %>
      <li class="<%= 'active' if params[:tab] == sport_chosen.name %>"><a data-toggle="tab" href="#<%= sport_chosen.name %>">
        <%= sport_icon(sport_chosen.name)%>
        <%= sport_chosen.name %>
      </a></li>
  <% end %>

  <% if correct_user? %>
      <li><a data-toggle="tab" href="#AddSport"><%= image_tag "plus_icon.png", :alt => "Plus icon" %>
        Add Sport
      </a></li>
  <% end %>
</ul>


<div class="tab-content">
  <% @sports_already_chosen.each do |sport_chosen| %>
      <div class="<%= if params[:tab] == sport_chosen.name then 'tab-pane active'  else 'tab-pane' end%>" id="<%= sport_chosen.name %>">


        <% sport_positions_not_already_chosen = positions_not_already_chosen(sport_chosen) %>




          <% if !sport_positions_not_already_chosen.blank?%>
            <div class="position-selector">

              <%= form_for(Sportization.new) do |f| %>
                  <%= f.hidden_field :sport_id, :value => sport_chosen.id %>
                  <div class="form-horizontal">
                  <%= f.select :position, sport_positions_not_already_chosen,{:include_blank => true}, :style => "width:160px;" %>
                  <%= f.submit "Add Position", class: "btn btn-primary" %>
                  </div>
              <% end %>
          </div>
          <% end %>



        <% sportizations_already_used = @user.sportizations.find_all_by_sport_id(sport_chosen.id).sort_by{|e| e[:created_at]}.reverse %>
        <% sportizations_already_used.each do |sportization_chosen| %>

            <% if !sportization_chosen.position.blank? %>

                <div class="stat-unit">
                <% if sport_chosen.name == "Basketball" %>

                    <% basketball_positions = "" %>

                    <p style="font-size: 150%;"><b>Position: </b> <%= sportization_chosen.position %>
                      <% if correct_user? %>

                          <%= link_to image_tag("delete.png", :alt => "Delete"), sportization_chosen, method: :delete, data: { confirm: "Are you sure? All your stats will be deleted." } %>
                      <% end %>
                    </p>


                    <div id="basic-modal-content" class="add_basketball_stat_window">
                      <%=  render 'basketball_stats/add' %>
                    </div>


                    <div id='basic-modal'>
                      <input type='button' name='basic' value='Add Stat' class='btn add_basketball_stat_button'/>
                    </div>

                    <% basketball_stats_recorded =   @user.basketball_stats.visible.order("date_played_on desc").all %>
                    <%=  render  :partial => 'basketball_stats/show', :locals => { :basketball_stats => basketball_stats_recorded} %>




              <% elsif sport_chosen.name == "Football" %>


                  <p style="font-size: 150%;"><b>Position: </b> <%= sportization_chosen.position %>
                    <% if correct_user? %>

                        <%= link_to image_tag("delete.png", :alt => "Delete"), sportization_chosen, method: :delete, data: { confirm: "Are you sure? All your stats will be deleted." } %>
                    <% end %>
                  </p>

                  <% if sportization_chosen.position == "Quarterback" %>

                      <div id="basic-modal-content" class="add_football_quarterback_stat_window">
                        <%= render 'football_quarterback_stats/add' %>
                      </div>

                      <div id='basic-modal'>
                        <input type='button' name='basic' value='Add Stat' class='btn add_football_quarterback_stat_button'/>
                      </div>

                      <% football_quarterback_stats_recorded = @user.football_quarterback_stats.visible.order("date_played_on desc").all %>
                      <%=  render  :partial => 'football_quarterback_stats/show', :locals => { :football_qb_stats => football_quarterback_stats_recorded} %>



                  <% elsif sportization_chosen.position == "Receiver" or sportization_chosen.position == "Tight end" %>

                      <div id="basic-modal-content" class="add_football_receiver_stat_window">
                        <%= render 'football_receiver_stats/add' %>
                      </div>

                      <div id='basic-modal'>
                        <input type='button' name='basic' value='Add Stat' class='btn add_football_receiver_stat_button'/>
                      </div>

                      <% receiver_stats_recorded = @user.football_receiver_stats.visible.order("date_played_on desc").all %>
                      <%=  render  :partial => 'football_receiver_stats/show', :locals => { :receiver_stats => receiver_stats_recorded} %>




                  <% elsif sportization_chosen.position == "Runningback" %>

                      <div id="basic-modal-content" class="add_football_runningback_stat_window">
                        <%= render 'football_runningback_stats/add' %>
                      </div>

                      <div id='basic-modal'>
                        <input type='button' name='basic' value='Add Stat' class='btn add_football_runningback_stat_button'/>
                      </div>

                      <% runningback_stats_recorded = @user.football_runningback_stats.visible.order("date_played_on desc").all %>
                      <%=  render  :partial => 'football_runningback_stats/show', :locals => { :runningback_stats => runningback_stats_recorded} %>

                  <% elsif sportization_chosen.position == "Defensive tackle" or sportization_chosen.position == "Defensive end" or sportization_chosen.position == "Middle linebacker" or sportization_chosen.position == "Outside linebacker" or sportization_chosen.position == "Cornerback" or sportization_chosen.position == "Safety"  %>

                      <div id="basic-modal-content" class="add_football_defense_stat_window">
                        <%= render 'football_defense_stats/add' %>
                      </div>

                      <div id='basic-modal'>
                        <input type='button' name='basic' value='Add Stat' class='btn add_football_defense_stat_button'/>
                      </div>

                      <% defense_stats = @user.football_defense_stats.visible.order("date_played_on desc").all%>
                      <%=  render  :partial => 'football_defense_stats/show', :locals => { :defense_stats => defense_stats} %>

                  <% end %>



                <% end %>


                </div>


            <% end %>

        <% end %>



      </div>

  <% end %>





  <div id="basic-modal-content" class="edit_stat_window">
  </div>







  <% if correct_user? %>
      <div id="AddSport" class="tab-pane" style="padding-left: 8px;">


        <%= form_for(@sportization) do |f| %>

            <% Sport.all.each do |sport| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= f.radio_button :sport_id, sport.id, :style => "float:left;margin-right: 5px;" %>
                <%= f.label :name, sport.name, :value => sport.name, :style => "float:left;" %>
                <div style="clear: both;margin-bottom: 5px;"></div>

            <% end %>

            <%= f.submit "Add Sport", class: "btn btn-primary" %>

        <% end %>

      </div>
  <% end %>


</div>

</div>

</div>