
<!-- If no stats have been added -->
<% if basketball_stats.blank? %>
    <b xmlns="http://www.w3.org/1999/html"> No stats have been added yet.</b>


<!-- If stats have been added, create a table and display them -->
<% else %>
    <table class="table table-condensed" style="font-size: 10px;">
      <tr>
        <th colspan="3" class="border-right"></th>
        <th colspan="3" class="border-right">FG</th>
        <th colspan="3" class="border-right">FT</th>
        <th colspan="3" class="border-right">3PT</th>
        <th colspan="3" class="border-right">Rebounds</th>
        <th colspan="6" class="border-right">Misc</th>
        <th></th>
      </tr>

      <tr>
        <td><b>Date played</b></td>
        <td><b>Opponent</b></td>
        <td class="border-right"><b>Minutes</b></td>
        <td title="Field goals made"><b>M</b></td>
        <td title="Field goals attempted"><b>A</b></td>
        <td title="Field goal percentage" class="border-right"><b>%</b></td>
        <td title="Free throws made"><b>M</b></td>
        <td title="Free throws attempted"><b>A</b></td>
        <td title="Free throw percentage" class="border-right"><b>%</b></td>
        <td title="3 pointers made"><b>M</b></td>
        <td title="3 pointers attempted"><b>A</b></td>
        <td title="3 pointer percentage" class="border-right"><b>%</b></td>
        <td title="Offensive rebounds"><b>Off</b></td>
        <td title="Defensive rebounds"><b>Def</b></td>
        <td title="Total rebounds" class="border-right"><b>Total</b></td>
        <td title="Assists"><b>Ast</b></td>
        <td title="Turnovers"><b>TO</b></td>
        <td title="Steals"><b>Stl</b></td>
        <td title="Blocks"><b>Blk</b></td>
        <td title="Personal fouls"><b>PF</b></td>
        <td title="Points" class="border-right"><b>Pts</b></td>
        <td></td>
      </tr>

    <!-- Loop through each of the stats objects and displays its attributes -->
    <% basketball_stats.each do |stat| %>
          <tr>

            <td> <%= stat.date_played_on %></td>
            <td><%= stat.opponent %></td>
            <td class="border-right"><%= convert_seconds_to_time (stat.time_played_in_seconds) %></td>
            <td><%= stat.field_goals_made %></td>
            <td><%= stat.field_goals_attempted %></td>
            <td class="border-right"><%= number_with_precision(stat.field_goal_percentage*100, :precision => 1) %>%</td>
            <td><%= stat.free_throws_made %></td>
            <td><%= stat.free_throws_attempted %></td>
            <td class="border-right"><%= number_with_precision(stat.free_throw_percentage*100, :precision => 1) %>%</td>
            <td><%= stat.threepts_made %></td>
            <td><%= stat.threepts_attempted %></td>
            <td class="border-right"><%= number_with_precision(stat.threept_percentage*100, :precision => 1) %>%</td>
            <td><%= stat.offensive_rebounds %></td>
            <td><%= stat.defensive_rebounds %></td>
            <td class="border-right"><%= stat.total_rebounds %></td>
            <td><%= stat.assists %></td>
            <td><%= stat.turnovers %></td>
            <td><%= stat.steals %></td>
            <td><%= stat.blocks %></td>
            <td><%= stat.personal_fouls %></td>
            <td class="border-right"><%= stat.total_points %></td>
            <td><%= link_to image_tag("pencil.png", :alt => "Edit"), edit_basketball_stat_path(stat), :remote => true %>  <%= link_to image_tag("delete.png", :alt => "Delete"), stat, :method => 'delete', data: { confirm: "Are you sure you want to delete this stat?" } %></td>
          </tr>



    <% end %>



    <% #Variables for all the average of all the types of stats
       average_time_played = basketball_stats.collect(&:time_played_in_seconds).sum.to_f/basketball_stats.length
       average_field_goals_made = basketball_stats.collect(&:field_goals_made).sum.to_f/basketball_stats.length
       average_field_goals_attempted = basketball_stats.collect(&:field_goals_attempted).sum.to_f/basketball_stats.length
       average_field_goal_percentage = (basketball_stats.collect(&:field_goals_made).sum.to_f/basketball_stats.collect(&:field_goals_attempted).sum)*100 unless basketball_stats.collect(&:field_goals_attempted) == 0
       average_free_throws_made = basketball_stats.collect(&:free_throws_made).sum.to_f/basketball_stats.length
       average_free_throws_attempted = basketball_stats.collect(&:free_throws_attempted).sum.to_f/basketball_stats.length
       average_free_throw_percentage = (basketball_stats.collect(&:free_throws_made).sum.to_f/basketball_stats.collect(&:free_throws_attempted).sum)*100 unless basketball_stats.collect(&:free_throws_attempted) == 0
       average_threepts_made = basketball_stats.collect(&:threepts_made).sum.to_f/basketball_stats.length
       average_threepts_attempted = basketball_stats.collect(&:threepts_attempted).sum.to_f/basketball_stats.length
       average_threept_percentage = (basketball_stats.collect(&:threepts_made).sum.to_f/basketball_stats.collect(&:threepts_attempted).sum)*100 unless basketball_stats.collect(&:threepts_attempted) == 0
       average_offensive_rebounds = basketball_stats.collect(&:offensive_rebounds).sum.to_f/basketball_stats.length
       average_defensive_rebounds = basketball_stats.collect(&:defensive_rebounds).sum.to_f/basketball_stats.length
       average_total_rebounds = basketball_stats.collect(&:total_rebounds).sum.to_f/basketball_stats.length
       average_assists = basketball_stats.collect(&:assists).sum.to_f/basketball_stats.length
       average_turnovers = basketball_stats.collect(&:turnovers).sum.to_f/basketball_stats.length
       average_steals = basketball_stats.collect(&:steals).sum.to_f/basketball_stats.length
       average_blocks = basketball_stats.collect(&:blocks).sum.to_f/basketball_stats.length
       average_personal_fouls = basketball_stats.collect(&:personal_fouls).sum.to_f/basketball_stats.length
       average_total_points = basketball_stats.collect(&:total_points).sum.to_f/basketball_stats.length
    %>

      <!-- This is the row for all the average -->
    <tr>
      <td colspan="2"> <b>Average</b></td>
      <td class="border-right"><b><%= convert_seconds_to_time (average_time_played) %></b></td>
      <td><b><%= number_with_precision average_field_goals_made,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_field_goals_attempted,:precision => 1 %></b></td>
      <td class="border-right"><b><%= number_with_precision average_field_goal_percentage,:precision => 1 %>%</b></td>
      <td><b><%= number_with_precision average_free_throws_made,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_free_throws_attempted,:precision => 1 %></b></td>
      <td class="border-right"><b><%= number_with_precision average_free_throw_percentage,:precision => 1 %>%</b></td>
      <td><b><%= number_with_precision average_threepts_made,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_threepts_attempted,:precision => 1 %></b></td>
      <td class="border-right"><b><%= number_with_precision average_threept_percentage,:precision => 1 %>%</b></td>
      <td><b><%= number_with_precision average_offensive_rebounds,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_defensive_rebounds,:precision => 1 %></b></td>
      <td class="border-right"><b><%= number_with_precision average_total_rebounds,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_assists,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_turnovers,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_steals,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_blocks,:precision => 1 %></b></td>
      <td><b><%= number_with_precision average_personal_fouls,:precision => 1 %></b></td>
      <td class="border-right"><b><%= number_with_precision average_total_points,:precision => 1 %></b></td>
      <td></td>
    </tr>

   </table>

<% end %>