<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | StatHub.me </title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if gte IE 9]>
  <style type="text/css">
      .gradient {
          filter: none;
      }
  </style>
  <![endif]-->

  <!--[if lt IE 8]><link rel="stylesheet" href="bootstrap-ie7buttonfix.css"><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" href="bootstrap-ie8buttonfix.css"><![endif]-->

</head>
<body>

<%= render 'layouts/header' %>


<div class="container" id="content">

  <!-- Flash message container -->
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>
</div>


<footer class="footer">
  <small>
    StatHub.me
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

</body>
</html>
